<div class="container-lg">
    {{#if error}}
    <div class="alert alert-danger my-3">
        {{error}}
    </div>
    {{/if}}
    {{#if cart.items}}
    <h2 class="text-center mt-3">Place order</h2>
    <div class="shadow-sm p-3 mt-4 rounded border border-light-subtle">
        <table class="table cart-table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {{#each cart.items}}
                <tr>
                    <th width="80px">
                        <img src="/uploads/{{this.image}}" width="50" height="50">
                    </th>
                    <td class="align-middle title">{{this.title}}</td>
                    <td class="align-middle price">{{this.price}} ֏</td>
                    <td class="align-middle quantity">
                        <span>{{this.quantity}}</span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="d-flex justify-content-end align-items-center">
            <span class="fs-5">Total Price: {{cart.totalPrice}} ֏</span>
        </div>
    </div>
    <div class="shadow-sm p-3 mt-4 rounded border border-light-subtle">
        <form method="post" action="http://localhost:4000/checkout">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="phone" placeholder="37499999999" class="form-control" id="phone" name="phone">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-3">
                        <label for="address" class="form-label">Address</label>
                        <input type="address" class="form-control" id="address" name="address">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary">Place Order</button>
            </div>
        </form>
    </div>
    {{/if}}
</div>